* {
  margin: 0;
  padding: 0;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
body {
  margin: 0 auto;
  max-width: 1320px;
}

.banner-title, .banner-greetings {
  font-family: "Merriweather", serif;
  color: white;
}

section {
  margin-top: 120px;
}

/* Banner styles */
.banner {
  background-image: linear-gradient(to bottom, #070211, #07021100), url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-greetings {
  font-size: 32px;
  margin-bottom: 16px;
}

.banner-title {
  font-size: 72px;
  font-weight: bold;
  width: 630px;
  text-align: center;
}

/* holiday deals styles */
.holiday-deals {
  max-width: 800px;
  height: 800px;
  text-align: center;
  margin: 0 auto;
}

.holiday-deals h2 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: bold;
  color: #FF0000;
}

.holiday-deals p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FF0000;
  margin-top: 48px;
}

.holiday-deals h3 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  margin-top: 16px;
  margin-bottom: 48px;
}

/* Welcome party */
.welcome-party {
  background-image: linear-gradient(to right, #070211, #07021100), url(../images/Vectorrr.png);
  max-width: 1320px;
  height: 600px;
  margin: 120px auto;
  border-radius: 16px;
}

.welcome-party-container {
  padding: 130px;
  max-width: 640px;
}

.welcome-party h2 {
  font-family: "Merriweather" serif;
  font-size: 74px;
  font-weight: bold;
  color: white;
}

.welcome-party p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 30px;
}

.welcome-party button {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: none;
  margin: 48px 32px;
  cursor: pointer;
}

.welcome-party button:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* Event date section */
.event-section {
  background-image: linear-gradient(rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0));
  border-radius: 10px;
  text-align: center;
}

.event-container {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-container p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

.event-container p span {
  color: #FF0000;
}

.event-btn {
  background-color: #FF0000;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 48px;
}

/* coming soon section */
.coming-soon-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 400px;
}

.coming-soon-left .best-offer {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FF0000;
}

.coming-soon-left h3 {
  font-family: "Merriweather", sans-serif;
  font-size: 48px;
  color: black;
  margin-top: 15px;
}

.coming-soon-left p {
  font-family: "Inter" sans-serif;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.60);
  max-width: 390px;
  line-height: 32px;
  margin-top: 20px;
}

.coming-soon-image img {
  border: 15px solid #FF0000;
  border-radius: 50%;
  padding: 40px;
  max-width: 300px;
}

.coming-soon-left .best-offer,
.coming-soon-right h3 {
  margin-top: 80px;
}

.coming-soon-right h3 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #FF0000;
}

.coming-soon-right p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.60);
  max-width: 270px;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 40px;
}
