* {
  margin: 0;
  padding: 0;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.banner-title, .banner-greetings {
  font-family: "Merriweather", serif;
  color: white;
}

/* Banner styles */
.banner {
  background-image: linear-gradient(to bottom, #070211, #07021100), url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-greetings {
  font-size: 32px;
  margin-bottom: 16px;
}

.banner-title {
  font-size: 72px;
  font-weight: bold;
  width: 630px;
  text-align: center;
}

/* holiday deals styles */
.holiday-deals {
  max-width: 800px;
  height: 800px;
  margin: 120px auto;
  text-align: center;
}

.holiday-deals h2 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: bold;
  color: #FF0000;
}

.holiday-deals p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FF0000;
  margin-top: 48px;
}

.holiday-deals h3 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  margin-top: 16px;
  margin-bottom: 48px;
}